<html>
  <head>
    <title>node-editor</title>
    <script type="text/javascript">
      var signin    = <% if (session.user) { %>true<% } else { %>false<% } %>;
      var base_path = "<%= base_path %>";
      var socketio_port = <%= socketio_port %>;
    </script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("jquery", "1.5.0");</script>
    <script type="text/javascript" src="<%= base_path %>/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="<%= base_path %>/js/lib/styler.js"></script>
    <script type="text/javascript" src="<%= base_path %>/js/lib/orion/editor.js"></script>
    <script type="text/javascript" src="<%= base_path %>/js/lib/orion/model.js"></script>
    <script type="text/javascript" src="<%= base_path %>/js/lib/diff_match_patch.js"></script>
    <script type="text/javascript" src="<%= base_path %>/js/sws.js"></script>
    <link href="<%= base_path %>/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="header">
      <div id="logo"><a href="<%= base_path %>/">node-editor</a></div>
      <% if (session.user) { %>
      Hi, <a href="<%= base_path %>/mypage"><%= session.user.screen_name %></a>. <a href="<%= base_path %>/signout">Sign out</a>
      <% } else { %>
      <a href="<%= base_path %>/signin/twitter"><img src="<%= base_path %>/images/sign-in-with-twitter.png" /></a>
      <% } %>
    </div>
    <%- body %>
    <div id="footer">
      created by <a href="http://twitter.com/#!/sugyan">@sugyan</a>. <a href="https://github.com/sugyan/live-coder">souce code</a>
    </div>
  </body>
</html>
