<html>
  <head>
    <title>node-editor</title>
    <script type="text/javascript">
      var socketio_port = <%= port %>;
      var uri_base = "<%= uri_for('') %>";
      var signin   = <% if (session.user) { %>true<% } else { %>false<% } %>;
    </script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("jquery", "1.5.0");</script>
    <script type="text/javascript" src="<%= uri_for('/socket.io/socket.io.js') %>"></script>
    <script type="text/javascript" src="<%= uri_for('/js/lib/styler.js') %>"></script>
    <script type="text/javascript" src="<%= uri_for('/js/lib/orion/editor.js') %>"></script>
    <script type="text/javascript" src="<%= uri_for('/js/lib/orion/model.js') %>"></script>
    <script type="text/javascript" src="<%= uri_for('/js/lib/diff_match_patch.js') %>"></script>
    <script type="text/javascript" src="<%= uri_for('/js/sws.js') %>"></script>
    <link href="<%= uri_for('/css/style.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="header">
      <div id="logo"><a href="<%= uri_for('/') %>">node-editor</a></div>
      <% if (session.user) { %>
      Hi, <a href="<%= uri_for('/mypage') %>"><%= session.user.screen_name %></a>. <a href="<%= uri_for('/signout') %>">Sign out</a>
      <% } else { %>
      <a href="<%= uri_for('/signin/twitter') %>"><img src="<%= uri_for('/images/sign-in-with-twitter.png') %>" /></a>
      <% } %>
    </div>
    <%- body %>
    <div id="footer">
      created by <a href="http://twitter.com/#!/sugyan">@sugyan</a>. <a href="https://github.com/sugyan/live-coder">souce code</a>
    </div>
  </body>
</html>
