<html>
  <head>
    <title>livecoder</title>
    <link rel="stylesheet" href="<%= path_for('/css/style.css') %>" type="text/css" />
  </head>
  <body>
    <div id="header">
      <span class="logo"><a href="<%= path_for('/') %>">livecoder</a></span>
      <a href="<%= path_for('/signin/twitter') %>"><img src="<%= path_for('/img/sign-in-with-twitter.png') %>" /></a>
    </div>
    <%- body %>
    <div id="footer">
      created by <a href="http://twitter.com/#!/sugyan">@sugyan</a>. | <a href="<%= path_for('/about') %>">about</a>
    </div>
    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4641008-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
    </script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("jquery", "1.5.1");</script>
    <script type="text/javascript" src="<%= path_for('/js/lib/orion/editor.js') %>"></script>
    <script type="text/javascript" src="<%= path_for('/js/lib/orion/model.js') %>"></script>
    <% for (var i = 0, l = jss.length; i < l; i++) { %>
    <script type="text/javascript" src="<%= path_for(jss[i]) %>"></script><% } %>
  </body>
</html>
